nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    position: absolute;
    z-index: 999999999;
}

nav .logo img{
    width: 150px;
    height: 40px;    
}


nav .signin button{
    background-color: #E50914;
    border: none;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
}

